@import "src/assets/styles/mixin.scss";

.#{$prefix}rnd-player {
  margin: 0;
  user-select: none;
  cursor: default !important;
  z-index: 10;

  &-container {
    @include fd(flex-start);
    @include wh(100%, 100%);
    border: 1px solid $default-border-color;
  }

  @for $i from 200 through 960 {
    .#{$mw-prefix}#{$i} {
      min-width: #{$i}px;
    }

    .#{$mh-prefix}#{$i} {
      min-height: #{$i}px;
    }
  }
}
