.#{$prefix}control-panel {
  @include ps(relative);
  @include wh(100%, 40px);
  @include fr(flex-start);
  transition: all 0.5s;
  color: rgba(238, 238, 238, 1);
  opacity: 0;

  &:hover {
    cursor: default;
  }

  &:after {
    @include wh(100%, 100%);
    @include ps(absolute, auto, auto, 0, 50%);
    content: '';
    z-index: -1;
    transform: translateX(-50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }

  &-left-warp {
    @include fr(flex-start);
    margin-left: 12px;

    .#{$prefix}play-control {
      @include icon();
      @include zoomIcon();
    }

    .#{$prefix}reload-control {
      @include icon();
      @include rotateIcon();
      padding-left: 8px;
    }

    .#{$prefix}time-viewer {
      @include style(12px, rgba(255, 255, 255, 0.6));
      padding-left: 10px;
      line-height: 12px;

      &-time {
        @include fr(flex-start);
      }
    }
  }

  &-right-warp {
    @include fr(flex-end);
    margin-right: 12px;
    flex: 1;

    .#{$prefix}format-viewer,
    .#{$prefix}quality-viewer,
    .#{$prefix}transmission-rate-viewer {
      @include style(12px, rgba(255, 255, 255, .6));
      line-height: 12px;
      padding-right: 12px;
    }

    .#{$prefix}fullscreen-control {
      @include icon();
      @include zoomIcon();
    }

    .#{$prefix}transmission-rate-viewer {
      width: 76px;
    }
  }
}
