.#{$prefix}player {
  @include ps(relative);
  @include fr(center);
  @include wh(100%, 100%);
  overflow: hidden;
  user-select: none;
  background-color: $default-video-bg-color;

  & > video {
    @include ps(absolute, 0, auto, auto, 0);
    @include wh(100%, 100%);
    pointer-events: none;
    object-fit: fill;
  }

  .#{$prefix}loading {
    @include fd(center);
    @include style(12px, $default-text-color);
    z-index: 1;

    p {
      padding-top: 6px;
    }

    svg {
      animation: loading 1.5s linear infinite;
    }
  }
}
