@import "src/assets/styles/mixin.scss";

.#{$prefix}player-controller {
  @include wh(100%, 100%);
  @include ps(absolute, auto, auto, 0, 50%);
  transform: translateX(-50%);
  z-index: 1;

  &-wrapper {
    @include wh(100%, calc(100% - 40px));
    @include ps(absolute, 0, auto, auto, 0);
    outline: none;
    z-index: 2;
  }

  &-btn {
    @include ps(absolute, 50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
  }

  &-cp {
    @include ps(absolute, auto, auto, 0, 50%);
    width: 100%;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.dark-mask {
  background: $mask-background;
}
